/* fix borders */

.fc th:first-child,
.fc td:first-child {
	border-left-width: 0px;
}

.fc th:last-child,
.fc td:last-child {
	border-right-width: 0px;
	border-bottom-width: 0px;
}

main.fullscreen .fc th:last-child,
main.fullscreen .fc td:last-child {
	border-bottom-width: 1px;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #ccc !important;
}

.fc-list-view {
	border-width: 0px;
}
